pymavlink
networkx
matplotlib
numpy
scipy~=1.15.3
pygame~=2.6.1
cma~=4.0.0
pandas~=2.2.3
deap~=1.4.2
pymavlog~=0.4.2
manim
pygraphviz
opencv-python
pillow
sympy
snakes
tqdm
scikit-learn